#root {
  box-sizing: border-box;
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.read-the-docs {
  color: #888;
}



body {
  background-image: url('/openvino-bg.jpg');
  background-size: cover;
  background-size: cover;
  min-height: 100vh;  
  background-attachment: fixed;
}
